* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  background-image: url('../images/Banner\ Image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  margin-bottom: 120px;

}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.header-content-colorandfont {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
}

.header_content h3 {
  font-size: 32px;
  font-weight: 400;
}

.header_content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

.sixty5of {
  display: flex;

  /* width: 802.9px; */
  height: 806px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

}



.sixty5img {
  /* text-align: center;
  margin-top: 48px; */
  margin-top: 48px;
  width: 802.9px;
  height: 500px;
}

.sixtyofpart1>h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
}

.second>p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
}

.second>h1 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
}

.midnightparty {
  display: flex;
  background-image: url('../images/vectorrr.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.midnightparty-leftpart {
  margin-top: 126px;
  margin-left: 126px;
}

.midnightparty-leftpart h1 {

  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  width: 642px;
  height: 176px;
  /* border: 2px solid black; */
  margin-bottom: 24px;
}

.midnightparty-leftpart p {
  width: 697px;
  height: 60px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}

.midnightparty-leftpart h3 {
  width: 110px;
  height: 24px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-left: 32px;
}

.midnightparty-rightpart {
  width: 22.86px;
  height: 93.94px;
  margin-top: 68px;
  margin-bottom: 68px;
  margin-right: 68px;
  margin-left: 90px;
}


.place {
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  /* border: 2px solid rebeccapurple; */
  background-size: cover;
  background-position: center;
}

.place-btn {
  width: 167px;
  height: 56px;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  border: none;
  align-items: center;
  padding: 16px 32px 16px 32px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.place-uperpart {
  width: 560px;
  height: 168px;
  margin-bottom: 48px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  /* border: 2px solid black; */
}

.primary-color {
  color: rgb(255, 0, 0);
}

.new-best-offer {
  display: flex;
  width: 1320px;
  height: 463px;
  /* border: 2px solid black; */
  margin: 0 auto;
  margin-bottom: 120px;
}

.new-best-offer-part1 h2 {
  width: 207px;
  height: 29px;
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 104px;
  margin-bottom: 16px;
}

.new-best-offer-part1 h1 {
  width: 328px;
  height: 60px;
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 22px;

}

.new-best-offer-part1 p {
  width: 393px;
  height: 128px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-right: 70px;
}

.new-best-offer-part2 {
  /* background: url(friends-enjoying-rooftop-party); */
  border-radius: 50%;
  border: 10px solid red;
  display: inline-block;
  width: 460px;
  height: 460px;
  text-align: center;


}

.new-best-offer-part2>img {
  width: 440px;
  height: 440px;
  padding: 49px;

}

.new-best-offer-part3 h1 {
  width: 126px;
  height: 58px;
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 112px;
  margin-right: 150px;
  margin-bottom: 16px;
  margin-left: 118px;
}

.new-best-offer-part3 p {
  width: 276px;
  height: 96px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 43px;
  margin-left: 118px;

}

.new-best-offer-part3 img {
  width: 140px;
  height: 140px;
  margin-left: 122px;
}

.holidays {
  width: 1320px;
  height: 986px;
  margin: 0 auto;
  margin-bottom: 120px;
  /* border: 2px solid rebeccapurple; */

}

.holidays-upper-part {
  width: 1068px;
  height: 260px;
  margin-left: 126px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;


}

.holidays-upper-part h3 {
  width: 263px;
  height: 29px;
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.holidays-upper-part h1 {
  width: 677px;
  height: 91px;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 28px;
}

.holidays-upper-part p {
  width: 1068px;
  height: 96px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}

.holidays-bottom-part {
  width: 1320px;
  max-height: 662.07px;
  position: relative;

  /* border: 2px solid red; */
}

.holidays-bottom-part-up {
  display: flex;
  z-index: 2;
  position: absolute;
}

.holidays-bottom-left {
  width: 796.46px;
  height: 662.07px;
  /* position: absolute; */
  /* border: 2px solid blue; */
}

.holidays-bottom-right {


  width: 305.69px;
  height: 305.69px;
  margin-left: 177px;
  margin-top: 77px;
  /* border: 2px solid black; */
}

.holidays-bottom-part-down {

  margin-top: 433px;
  width: 1320px;
  height: 229px;
  border: 2px solid blueviolet;
  background-image: url('../images/rectangle\ .png');
  background-position: cover;
  background-size: cover;
  border-radius: 16px 0px 16px 16px;

  background: rgb(255, 0, 0);
  position: absolute;
  z-index: 1;

}

.best-gift {
  width: 1320px;
  height: 1163px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-bottom: 120px;

}

.best-gift h3 {
  width: 192px;
  height: 29px;
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.best-gift h2 {
  width: 566px;
  height: 60px;
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.best-gift p {
  width: 896px;
  height: 64px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}

.best-gift-part1 img,
.best-gift-part2 img {
  display: block;
  width: 424px;
  height: 450px;
}

.best-gift-part1,
.best-gift-part2 {
  display: flex;
  gap: 24px;
}

.best-gift-part-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-newsletter {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 0 auto;
  /* border: 2px solid red; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 120px;
}

.subscribe-newsletter img {
  display: block;
  width: 131.25px;
  height: 137.52px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.subscribe-newsletter h1 {
  width: 512px;
  height: 60px;
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.subscribe-newsletter p {
  width: 896px;
  height: 64px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}

.subscribe-class {
  /* text-align: center; */
  width: 648px;
  height: 72px;
  position: relative;
  border: none;
}

.subscribe-class input,
button {
  display: block;
}

.input-class {
  width: 648px;
  height: 72px;
  /* border: 2px solid greenyellow; */
  position: absolute;
  padding-left: 30px;
  z-index: 1;
  border: none;
  outline: none;
  
} 

.btn-class {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-left: 438px;
  border: none;
} 

.footer-section {
  width: 1530px;
  height: 609px;
  background: rgb(7, 2, 17);
  margin: 0 auto;
} 
.footerPart1-left{
  width: 375px;
height: 80px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
margin-left: 140px;
margin-top: 120px;
}
.footerPart1-right{
  width: 251px;
height: 80px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
margin-top: 120px;
margin-right: 275px;
} 

 .p1, .p2{
  display: flex;
  flex-direction: row;
  align-items: center;
 
}  
.footer-section-part1{
  display: flex;
  justify-content: space-between;
} 
.footer-section-part2 img{
  display: block;
} 
 .footer-section-part2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 48px;

}
 .footer-section-part3
{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 15px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-top: 98px; 
margin-left: 140px;
display: flex;
justify-content: space-between;
 
} 
.unsub{
  margin-right: 140px;
} 



